@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-image: url('../public/anime.png'); 
    background-size: cover;
    background-position: center;
    color: white; /* Set default text color to white */
  }
  @keyframes fadeIn {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 15s ease-in-out forwards;
  }